<h3>Register New User</h3>
<form >
    <div class="text-danger"></div>
    <div>
        <label></label>
        <br/>
        <input />

    </div>
    <div>
        <label></label>
        <br/>
        <input />

    </div>
    <div>
        <label></label>
        <br/>
        <input />

    </div>
    <div>
        <button type="submit">Register User</button>
    </div>
</form>